/*==========  Desktop First Method  ==========*/


@media only screen and (max-width : 1900px) {

}


@media only screen and (max-width : 1500px) {

}


@media only screen and (max-width : 1200px) {

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1024px) {

}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.logo_block {
		width: 375px;
		height: 82px;
		position: relative;
		top: 109px;
		margin: auto;
		background: url(../images/frame.png);
		background-size: contain;
		background-repeat: no-repeat;
	}


	.cap {
		display: inline-block;
		width: 36%;
		font-family: "RistrettoPRO Light";
		color: #ffffff;
		font-size: 58.56px;
		height: 85px;
		vertical-align: top;
		margin-top: 15px;
		text-align: right;
		line-height: 71px;
		font-weight: 200px;
	}

	.logo_owl {
		display: inline-block;
		width: 80px;
		height: 85px;
		vertical-align: top;
		margin-top: 16px;
		left: 1%;
		position: relative;
	}

	.beans_packet {
		width: 188px;
		height: 242px;
		position: absolute;
		display: block;
		top: 65%;
		left: 57%;
	}

	.cup {
		width: 105px;
		height: 214px;
		position: absolute;
		display: block;
		top: 221px;
		left: 90px;
	}


	.cofee_beans1_sec2 {
		width: 10%;
		height: 12%;
		position: relative;
		display: block;
		margin: auto;
		text-align: center;
		top: 1%;
		right: 5.9%;
		margin-left: auto;
	}


	.green_trangle {

		display: none;
	}

	.divider_sec2 {
		display: none;
	}

	#section3_vkusnyski p {
		font-family: "OpenSans Regular";
		color: #fff;
		font-size: 18px;
		text-align: center;
		top: 39%;
		position: relative;
		line-height: 23px;
		opacity: .9;
		padding: 53px;
	}

	.red_trangle {
		width: 76px;
		height: 39px;
		position: absolute;
		left: 39.5%;
		right: 45%;
		top: 91.5%;
	}

	#section1_into h3 {
		font-family: "RistrettoPRO";
		color: #ffffff;
		font-size: 40px;
		position: relative;
		top: 261px;
		text-align: center;
	}

	#section4_scoro {
		position: relative;
		background: url(../images/corkscrew.png), url(../images/sec4_el1.png), url(../images/sec4_el2.png), url(../images/large_bg4.jpg);
		background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
		background-position: 18% 102%, 39% 72%, 66% 17%, 47% 5%;
		background-size: 77%, 12%, 8%, cover;
	}

	#section5_cafe_personal p {
		font-family: "OpenSans Regular";
		color: #fff;
		font-size: 18px;
		text-align: center;
		top: 32%;
		position: relative;
		line-height: 23px;
		opacity: .9;
		padding: 35px;
	}

	#wrap_button {
		position: relative;
		top: 29%;
	}

	.button1 {
		display: inline-block;
		border-style: solid;
		border-width: 1px;
		border-color: #ffffff;
		box-sizing: border-box;
		background-color: rgba(155, 57, 108, 0);
		width: 223px;
		height: 41px;
		position: relative;
		margin: 0 auto;
		/* margin-right: 40px; */
		top: 39%;
		font-family: "OpenSans Regular";
		color: #fff;
		font-size: 16px;
		line-height: 36px;
		cursor: pointer;
		transition: all .5s ease;
		margin-bottom: 31px;
	}

	#section6_coffe_owl {
		position: relative;
		margin: 0 auto;
		text-align: center;
		background: url(../images/fly_beans.png), url(../images/coffe_owl.jpg);
		background-color: #fff;
		background-repeat: no-repeat, no-repeat;
		background-size: 90%, 76%;
		background-position: 8% 38%, 50% 48%;
	}

	.face {
		width: 100px;
		height: 102px;
		border-radius: 50%;
		position: relative;
		overflow: hidden;
		margin: 0 auto;
		top: 5%;
	}

	#creator_wrap {
		position: relative;
		top: 19%;
	}

	#section7_creators p {
		font-family: "OpenSans Italic";
		color: #fff;
		font-size: 12px;
		text-align: center;
		top: 17%;
		position: relative;
		line-height: 22px;
		opacity: .9;
	}

	#section8_map_contacts {
		position: relative;
		margin: 0 auto;
		text-align: center;
		background: url(../images/map.jpg), url(../images/sec8_bg.jpg);
		background-repeat: no-repeat, no-repeat;
		background-size: 250%, 365%;
		background-position: 10% -41%, 0% 139%;
	}

	#section1_into h1 {
		font-family: "RistrettoPRO";
		color: #ffffff;
		font-size: 79px;
		position: relative;
		top: 180px;
		text-align: center;
	}

	#section1_into h3 {
		font-family: "RistrettoPRO";
		color: #ffffff;
		font-size: 32px;
		position: relative;
		top: 218px;
		text-align: center;
	}



}


@media only screen and (max-width : 360px) {
	.logo_block {
		width: 325px;
		height: 95px;
		position: relative;
		top: 55px;
		margin: auto;
		background: none;
	}
	.cap {
		display: inline-block;
		width: 36%;
	}

	.cake {
		display: inline-block;
		width: 30%;
	}

	#section1_into h1 {
		font-family: "RistrettoPRO";
		color: #ffffff;
		font-size: 75px;
		position: relative;
		top: 123px;
		text-align: center;
	}


	#section1_into h3 {
		font-family: "RistrettoPRO";
		color: #ffffff;
		font-size: 28px;
		position: relative;
		top: 140px;
		text-align: center;
		padding: 0px 59px;
	}

	.cofe_bar {
		width: 131px;
		height: 28px;
		position: relative;
		margin: auto;
		top: 91px;
	}


	.logo_sec2 {
		width: 61px;
		height: 57px;
		display: block;
		position: relative;
		top: 8%;
		margin: auto;
	}

	#section2_varim_cofe {
		position: relative;
		background: url(../images/large_bg2.jpg);
		background-repeat: no-repeat;
		border: 4px solid #839D4D;
		background-size: cover;
		padding-bottom: 12%;
	}


	#section5_cafe_personal {
		position: relative;
		border: 0px solid #125344;
		background: url(../images/bg_sec5.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		margin: 0 auto;
		text-align: center;
	}

	#section6_coffe_owl {
		position: relative;
		border: 0px solid #125344;
		margin: 0 auto;
	}

	#section2_varim_cofe h2 {
		font-family: "RistrettoPRO Light";
		color: #ffffff;
		font-size: 47px;
		margin: auto;
		position: relative;
		top: 10.8%;
		text-align: center;
	}

	#section2_varim_cofe p {
		font-family: "OpenSans Regular";
		color: #fff;
		font-size: 15px;
		text-align: center;
		top: 12.8%;
		position: relative;
		line-height: 21px;
		opacity: .9;
	}

	.cup {
		width: 162px;
		height: 215px;
		position: absolute;
		display: block;
		margin-top: 47px;
	}


	.spoon_n_cup {
		width: 275px;
		height: 270px;
		position: absolute;
		top: 46%;
		right: 44%;
	}


	.spoon_block {
		width: 80px;
		height: 131px;
		position: absolute;
		display: block;
		margin-left: 72%;
		margin-top: 11%;
	}
	.beans_packet {
		width: 200px;
		height: 274px;
		position: absolute;
		display: block;
		top: 53%;
		left: 39%;
		transform: rotate(9deg);
	}

	.divider_sec2, .divider_sec3 {display: none;}


	.green_trangle, .red_trangle {
		display: none;

	}


	.cofee_beans1_sec2 {
		width: 16%;
		height: 17%;
		position: relative;
		display: block;
		margin: auto;
		text-align: center;
		top: -25%;
		right: 39.9%;
		margin-left: auto;
	}

	#section3_vkusnyski h2 {
		font-family: "RistrettoPRO Light";
		color: #ffffff;
		font-size: 51px;
		margin: auto;
		position: relative;
		top: 27.8%;
		text-align: center;
	}

	.logo_sec3 {
		width: 61px;
		height: 62px;
		display: block;
		position: absolute;
		top: 14%;
		left: 47.5%;
		right: 45%;
		padding-left: 0px;
	}


	.red_trangle {
		width: 76px;
		height: 39px;
		position: absolute;
		left: 36.5%;
		right: 43%;
		top: 91.5%;
	}


	#section3_vkusnyski p {
		font-family: "OpenSans Regular";
		color: #fff;
		font-size: 15px;
		text-align: center;
		top: 29%;
		position: relative;
		line-height: 21px;
		opacity: .9;
		padding: 0px 45px;
	}

	#section3_vkusnyski {
		position: relative;
		border: 4px solid #984534;
		background: url(../images/sec3_el1.png),url(../images/Eco-Bag.png) , url(../images/banka.png),url(../images/sec3_el2.png), url(../images/large_bg3.jpg);
		background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
		background-position: 26% 71%, 165% 108%, -2% 86%, 81% 81%, 45% 5%;
		background-size: 13%, 71%, 39%, 19%, cover;
	}

	#section4_scoro {
		position: relative;
		border: 4px solid #690534;
		background: url(../images/corkscrew.png), url(../images/sec4_el1.png), url(../images/sec4_el2.png), url(../images/large_bg4.jpg);
		background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
		background-position: -69% 111%, 39% 72%, 66% 17%, 47% 5%;
		background-size: 73%, 12%, 8%, cover;
	}



	#section4_scoro h1 {
		font-family: "RistrettoPRO";
		color: #ffffff;
		font-size: 137px;
		position: relative;
		top: 14%;
		text-align: center;
	}

	#section4_scoro p {
		font-family: "OpenSans Regular";
		color: #fff;
		font-size: 18px;
		text-align: center;
		top: 10%;
		position: relative;
		line-height: 23px;
		opacity: .9;
	}


	.bottle {
		width: 26%;
		height: 62%;
		position: relative;
		left: 65%;
		top: 9%;
	}


	#section5_cafe_personal p {
		font-family: "OpenSans Regular";
		color: #fff;
		font-size: 16px;
		text-align: center;
		top: 28%;
		position: relative;
		line-height: 21px;
		opacity: .9;
	}

	.button1 {
		display: inline-block;
		border-style: solid;
		border-width: 1px;
		border-color: #ffffff;
		box-sizing: border-box;
		background-color: rgba(155, 57, 108, 0);
		width: 223px;
		height: 41px;
		position: relative;
		margin: 0 auto;
		margin-right: 0px;
		top: 35%;
		font-family: "OpenSans Regular";
		color: #fff;
		font-size: 16px;
		line-height: 36px;
		cursor: pointer;
		transition: all .5s ease;
	}




	#section6_coffe_owl {
		position: relative;
		border: 0px solid #125344;
		margin: 0 auto;
		text-align: center;
		background: url(../images/fly_beans.png), url(../images/coffe_owl.jpg);
		background-color: #fff;
		background-repeat: no-repeat, no-repeat;
		background-size: 91%, 102%;
		background-position: 13% 51%, 50% 53%;
	}

	#section7_creators {
		position: relative;
		z-index: 2;
		border: 0px solid #125344;
	}



	.logo_sec7 {
		width: 108px;
		height: 44px;
		display: block;
		position: relative;
		margin: 0 auto;
		top: 8%;
	}


	#section7_creators h2 {
		font-family: "RistrettoPRO Light";
		color: #ffffff;
		font-size: 62px;
		margin: auto;
		position: relative;
		top: 10.8%;
		text-align: center;
	}

	.face {
		width: 96px;
		height: 97px;
		border-radius: 50%;
		position: relative;
		overflow: hidden;
		margin: 0 auto;
		top: 5%;
	}

	#section7_creators p {
		font-family: "OpenSans Italic";
		color: #fff;
		font-size: 13px;
		text-align: center;
		top: 17%;
		position: relative;
		line-height: 15px;
		opacity: .9;
	}


	#section8_map_contacts {
		position: relative;
		border: 0px solid #125344;
		margin: 0 auto;
		text-align: center;
		background: url(../images/map.jpg), url(../images/sec8_bg.jpg);
		background-repeat: no-repeat, no-repeat;
		background-size: 312%, 187%;
		background-position: 12% -8%, 0% 112%;
	}
	.soc_wrap {
		width: 230px;
		height: 53px;
		position: relative;
		margin: auto;
		top: 48%;
		transition: all .5s ease;
	}

	.friends {
		font-family: "OpenSans Regular";
		color: #fff;
		font-size: 13px;
		font-weight: 500;
		top: 41%;
		position: relative;
	}
	.onepage-pagination {
		display: none;
	}

}






/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}












/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


@media only screen and (min-width : 1500px) {


	body {
		height: 100%;
		margin: 0 auto;
		width: 100%; 
		max-width: 1940px;
		overflow-x: hidden;
		position: relative;

	}

	#main_container {
		max-width: 1940px;
		width: 100%;
		position: relative;
	}


	#section1_into {

		max-width: 1940px;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 5%;

	}




	#section1_into p {    
		font-size: 13px;
	}


	.number {

		font-size: 37px;    
		top: 59px;

	}

	.logo_block {
		width: 625px;
		height: 134px;
		position: relative;
		top: 109px;
		margin: auto;
		background: url(../images/frame.png);
		background-size: cover;
		padding-top: 20px;
	}

	.cap {
		width: 43%;
	}




	#section2_varim_cofe {
		position: relative;
		background: url(../images/large_bg2.jpg);
		background-repeat: no-repeat;
		border: 4px solid #345e42;
		background-size: cover;
		padding-bottom: 0%;
	}

	#section2_varim_cofe h2 {
		font-family: "RistrettoPRO Light";
		color: #ffffff;
		font-size: 80px;
		margin: auto;
		position: relative;
		top: 24.8%;
		text-align: center;
	}


	#section2_varim_cofe p {
		font-family: "OpenSans Regular";
		color: #fff;
		font-size: 20px;
		text-align: center;
		top: 25%;
		position: relative;
		line-height: 26px;
		opacity: .9;
	}

	.logo_sec2 {
		width: 87px;
		height: 66px;
		display: block;
		position: relative;
		top: 22%;
		margin: 0 44%;
		margin: auto;
	}


	.cofee_beans1_sec2 {
		width: 28%;
		height: 18%;
		position: relative;
		display: block;
		margin: auto;
		text-align: center;
		right: 3.9%;
		top: -3%;
	}

	.beans_packet {
		width: 480px;
		height: 610px;
		position: absolute;
		display: block;
		top: 133px;
		left: 57%;
	}
	.cup {
		width: 355px;
		height: 328px;
		position: absolute;
		display: block;
		margin-top: 47px;
	}

	.spoon_block {
		width: 109px;
		height: 193px;
		position: absolute;
		display: block;
		margin-left: 108%;
		margin-top: 11%;
	}

	.spoon_n_cup {
		width: 275px;
		height: 270px;
		position: absolute;
		top: 193px;
		right: 70%;
	}



	#section3_vkusnyski h2 {
		font-family: "RistrettoPRO Light";
		color: #ffffff;
		font-size: 80px;
		margin: auto;
		position: relative;
		top: 35.8%;
		text-align: center;
	}

	#section3_vkusnyski p {
		font-family: "OpenSans Regular";
		color: #fff;
		font-size: 20px;
		text-align: center;
		top: 36%;
		position: relative;
		line-height: 26px;
		opacity: .9;
	}

	.logo_sec3 {
		width: 75px;
		height: 72px;
		display: block;
		position: absolute;
		top: 23%;
		left: 46.5%;
		right: 45%;
		padding-left: 24px;
	}

	.cruissant {
		width: 23%;
		height: 27%;
		position: absolute;
		top: 12%;
		right: 88%;
		left: 18%;
	}

	.green_trangle {
		width: 88px;
		height: 45px;
		position: absolute;
		left: 47.5%;
		right: 45%;
		top: 92.5%;
	}

	.red_trangle {
		width: 75px;
		height: 47px;
		position: absolute;
		left: 47.5%;
		right: 45%;
		top: 91.7%;
	}


	#section4_scoro h1 {

		font-size: 183px;
	}


	#section4_scoro p {
		font-family: "OpenSans Regular";
		color: #fff;
		font-size: 21px;
		text-align: center;
		top: 24%;
		position: relative;
		line-height: 28px;
		opacity: .9;
	}


	#section5_cafe_personal h2 {
		font-family: "RistrettoPRO Light";
		color: #ffffff;
		font-size: 80px;
		margin: auto;
		position: relative;
		top: 27.8%;
		text-align: center;
	}

	#section5_cafe_personal p {
		font-family: "OpenSans Regular";
		color: #fff;
		font-size: 20px;
		text-align: center;
		top: 32%;
		position: relative;
		line-height: 25px;
		opacity: .9;
	}

	.button1 {
		display: inline-block;
		border-style: solid;
		border-width: 1px;
		border-color: #ffffff;
		box-sizing: border-box;
		background-color: rgba(155, 57, 108, 0);
		width: 293px;
		height: 46px;
		position: relative;
		margin: 0 auto;
		margin-right: 91px;
		top: 39%;
		font-family: "OpenSans Regular";
		color: #fff;
		font-size: 18px;
		padding-top: 9px;
	}

	.button2 {
		display: inline-block;
		border-style: solid;
		border-width: 1px;
		border-color: #ffffff;
		box-sizing: border-box;
		background-color: rgba(155, 57, 108, 0);
		width: 293px;
		height: 46px;
		position: relative;
		margin: 0 auto;

		top: 39%;
		font-family: "OpenSans Regular";
		color: #fff;
		font-size: 18px;
		padding-top: 9px;
	}


	.logo_sec5 {
		width: 122px;
		height: 54px;
		display: block;
		position: relative;
		margin: 0 auto;
		top: 23%;
	}

	#section7_creators h2 {
		font-family: "RistrettoPRO Light";
		color: #ffffff;
		font-size: 80px;
		margin: auto;
		position: relative;
		top: 17.8%;
		text-align: center;
	}


	.creator_block1 {
		display: inline-block;
		height: 52%;
		width: 43%;
		
		position: relative;
		text-align: center;
		margin: 0 auto;
		padding-right: 3%;

	}

	.creator_block2 {
		display: inline-block;
		height: 52%;
		width: 43%;
		
		position: relative;
		text-align: center;
		margin: 0 auto;
		padding-left: 3%;

	}

	.face {
		width: 220px;
		height: 220px;
		border-radius: 50%;
		position: relative;
		overflow: hidden;
		margin: 0 auto;
		top: 8%;
	}

	.name {
		font-family: "OpenSans Regular";
		color: #fff;
		font-size: 21px;
		text-align: center;
		font-weight: bold;
		top: 12%;
		position: relative;
	}

	#section7_creators p {
		font-family: "OpenSans Italic";
		color: #fff;
		font-size: 20px;
		text-align: center;
		top: 17%;
		position: relative;
		line-height: 23px;
		opacity: .9;
	}

	.logo_sec7 {
		width: 160px;
		height: 60px;
		display: block;
		position: relative;
		margin: 0 auto;
		top: 12%;
	}


	.addres_block {
		background-color: #ffffff;
		width: 399px;
		height: 310px;
		position: relative;
		margin: auto;
		top: 24%;
	}

	.logo_sec8 {
		width: 92px;
		height: 89px;
		position: relative;
		margin: auto;
		top: 47px;
	}


	.adress {
		font-family: "OpenSans Regular";
		color: #000;
		font-size: 18px;
		font-weight: 500;
		top: 75px;
		position: relative;
	}



	.number_sec8 {
		font-family: "OpenSans Regular";
		color: #afcb08;
		font-size: 42px;
		font-weight: 400;
		text-align: center;
		top: 82px;
		position: relative;
	}


	#section8_map_contacts {
		position: relative;
		border: 4px solid #125344;
		margin: 0 auto;
		text-align: center;
		background: url(../images/map.jpg), url(../images/sec8_bg.jpg);
		background-repeat: no-repeat, no-repeat;
		background-size: 101%, 119%;
		background-position: 2% -68%, 0% 112%;
	}

	.friends {
		font-family: "OpenSans Regular";
		color: #fff;
		font-size: 17px;
		font-weight: 500;
		top: 38%;
		position: relative;
	}

	.soc_wrap {
		width: 230px;
		height: 53px;
		position: relative;
		margin: auto;
		top: 41%;
	}	



}